[Desktop Entry]
Name=backsnap
Comment=System Backup & Recovery Manager
Exec=/usr/bin/backsnap
StartupWMClass=backsnap
Icon=backsnap
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=backup;btrfs;snapper;sync;
