[Desktop Entry]
Type=Application
Name=Backsnap
Comment=System Backup & Recovery Manager
Exec=/usr/bin/backsnap
Icon=backsnap
Terminal=false
Categories=System;Utility;
StartupNotify=true
X-GNOME-Autostart-enabled=true
